* {
    margin: 0;
}

.page {
    display: flex;
    gap: 1rem;
}

aside, main{
    border: 1px solid;
    height: 95vp;
}

aside {
    background-color: lightskyblue;
    flex-basis: 25%;
}

main {
    background-color: lightskyblue;
    flex-basis: 25%;
}